/* CSS Reset */

html {
    font-size: 16px;
    font-family: Oswald;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto; 
}

/* Nav Bar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
}